<div style="margin-top: 20px;">
    <span class="col-md-6 col-md-offset-3">
    <input type="text" class="form-control" ng-model="searchString"  ng-change="search()"/>
    </span>
</div>

<table id="places_list" class="table table-hover">
    <thead>
    <tr>
        <th scope="col">Query type</th>
        <th scope="col">Name</th>
        <th scope="col">City</th>
        <th scope="col">Reviews</th>
    </tr>
    </thead>
    <tbody>
        <tr ng-repeat="place in response.places">
            <td scope="row">{{ place.type }}</td>
            <td scope="row">{{ place.name }}</td>
            <td scope="row">{{ place.city }}</td>
            <td scope="row" ng-repeat="review in place.reviews">
                <span ng-bind-html="review | unsafe"></span>
            </td>
        </tr>
    </tbody>
</table>

<div>
    <b>Total of matches</b>
    <ul class="list-group" ng-repeat="result in response.totals">
        <li class="list-group-item">{{ result.type }}: {{ result.total }}</li>
    </ul>
</div>

