<div style="margin-top: 20px;">
    <span class="col-md-6 col-md-offset-3">
    <input type="text" class="form-control" ng-model="searchString"  ng-change="explore()"/>
    </span>
</div>

<div class="container mt-4">
  <div class="row">
      <div class="col-sm-6 mb-4 text-center" ng-repeat="place in response.places ">
        <img src="{{ place.main_photo_url}}" class="img-fluid rounded"/>
        <p>{{ place.type }}</p>
      </div>
  </div>
</div>

<div>
    <b>Total of matches</b>
    <ul class="list-group" ng-repeat="result in response.totals">
        <li class="list-group-item">{{ result.type }}: {{ result.total }}</li>
    </ul>
</div>

