<div style="margin-top: 20px;">
    <span class="col-md-6 col-md-offset-3">
    <input type="text" class="form-control" ng-model="searchString"  ng-change="search()"/>
    </span>
</div>

<table id="places_list" class="table table-hover">
    <thead>
    <tr>
        <th scope="col">Query type</th>
        <th scope="col">Photo</th>
    </tr>
    </thead>
    <tbody>
        <tr ng-repeat="place in response.places  | filter:{main_photo_url: ''}">
            <td scope="row">{{ place.type }}</td>
            <td><img src="{{ place.main_photo_url}}" class="img-fluid rounded"></td>
        </tr>
    </tbody>
</table>

<div>
    <b>Total of matches</b>
    <ul class="list-group" ng-repeat="result in response.totals">
        <li class="list-group-item">{{ result.type }}: {{ result.total }}</li>
    </ul>
</div>

